:root {
    --color-bg: #000000;
    --color-fg: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #ffffff;
        --color-fg: #000000;
    }
}

*{

}

.chat-services {
    transition: max-height 0.5s;
    max-height: 0;
}

.chat-services.expand {
    max-height: 350px;
    overflow-y: auto;
}

.message {
    max-width: 250px;
}

.chat-modal {
    transition: opacity 0.5s, transform 0.5s;
    opacity: 0;
    transform: translateX(500px);
}

.chat-modal.show {
    opacity: 1;
    transform: translateX(0);
}

@keyframes animateModal {
    from {
        transform: translateX(200px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.relative {
    display: flex;
    align-items: center;
}

.relative input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #00ff00;
    border-radius: 0.25rem 0 0 0.25rem;
    outline: none;
}

.relative button {
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #006600;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    transition: color 0.2s;
    outline: none;
}

.relative button:hover {
    color: #005500;
}