@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap");

:root {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #ffffff;
    --color-fg: #000000;
  }
}

/*
p{
    color:#fff;
    text-align: justify;
}
*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
  background-color: var(--color-bg);
  color: var(--color-fg);
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container{
    position:relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side{
    position: relative;
    background: #003147;
    padding: 40px;
}


.container .right_side{
    position:relative;
    background: #fff;
    padding: 40px;

}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255,255,255,0.2);
}

.profileText .imgBox {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  clip-path: ellipse(50% 50% at 50% 50%);
}

.profileText .imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: ellipse(50% 50% at 50% 50%);
}

.profileText h2{
    color:#fff;
    font-size: 1.4em;
    margin-top:20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.title{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
letter-spacing: 1px;
    margin-bottom: 20px;

}
.profileText h2 span{
    font-size:0.8em;
    font-weight: 300;
}


.contactInfo ul{
    position:relative
}


.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor:pointer;
}

.contactInfo ul li .icon{
    display:inline-block;
    width: 30px;
    font-size: 18px;
    color:#03a9f4;

}
.contactInfo ul li span{
    color:#fff;
    font-weight: 300;
}

.contactInfo .Education li{
    margin-bottom: 15px;
}


.contactInfo.Education h5{
    color:#03a9f4;
    font-weight: 500;
}


.contactInfo.Education h4:nth-child(2){
    color:#fff;
    font-weight: 500;
}

.contactInfo.Education h4{
    color:#fff;
    font-weight: 300;
}


.contactInfo.Languages .badge{
    position: relative;
    width: 100%;
    height: 6px;
    display: block;
    margin-top: 5px;
}

.contactInfo.Languages .badge div{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background: #03a9f4;
} 

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color:#003147;
    text-transform: uppercase;
    text-shadow: 1px 1px white;
    letter-spacing: 1px;
    margin-bottom: 10px;
}



.about .box{
    display: flex;
    flex-direction: row;
    margin:20px 0;

}

.about .box .WorkTime{
    min-width: 150px;
}

.about .box .WorkTime h5{
    text-transform: uppercase;
    color:#848c90;
    font-weight: 600;
}


.about .box .text h4{
    text-transform: uppercase;
    color:#2a7da2;
    text-shadow: 0 0 5px white;
    font-size: 16px;
}

.skills .box {
    position:relative;
    width:100%;
    display:grid;
    grid-template-columns:150px 1fr;
    justify-content:center;
    align-items:center;
}

.skills .box h4{
    text-transform:uppercase;
    color:#858c99;;
    font-weight: 500;

}

.skills .box h4 .badge{
    position:relative;
    width:100%;
    height: 10px;
    background:#f0f0f0;
}

.skills .box .bagde{
    position:relative;
    width: 100%;
    height: 10px;
    background:#f0f0f0;


}


.skills .box .badge div{
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    background:#03a9f4;
}

.interests ul {
    display:grid;
    grid-template-columns: repeat(1,1fr);
}
/*
TD3R*!k&H!kr
*/
.interests ul li{
    list-style:none;
    color:#333;
    font-weight: 500;
    margin:10px ;
    margin-right: 20px;
}

.interests ul li .fa{
    color:#03a9f4;
    font-size:18px;
    width: 26px;
}


@media(max-width: 1000px){
    .container{
        margin:10px;
        grid-template-columns: repeat(1,1fr);
    }

    .interests ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 600px){

    .about .box{
        flex-direction: column;
    }

    .about .box .WorkTime{

        margin-bottom: 5px;
    }

    .interests ul{
        grid-template-columns: repeat(1,1fr);
    }

    .skills .box{
        grid-template-columns: 1 repeat(1,1fr);
    }
}

.bodyx {
    margin-top: 4vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    min-height: 0;
    background-color: transparent;
  }
  .bodyx .block-container {
    position: relative;
    width: 90px;
    height: 90px;
    margin: 32px;
    transition: 250ms;
    perspective: 500px;
  }
  .bodyx .block-container .btn-back {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: inherit;
    height: inherit;
    border-radius: 32px;
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: bottom right;
    transform: rotateZ(15deg);
    will-change: transform;
    box-shadow: 16px 0 40px #e4e4e4;
  }
  .bodyx .block-container .btn-back-1 {
    background: linear-gradient(135deg, #4682eb -20%, #01beff 120%);
  }
  .bodyx .block-container .btn-back-2 {
    background: linear-gradient(135deg, #5c46eb -20%, #013fff 120%);
  }
  .bodyx .block-container .btn-back-3 {
    background: linear-gradient(135deg, #ebe046 -20%, #ffac01 120%);
  }
  .bodyx .block-container .btn-front {
    position: absolute;
    inset: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    border-radius: 32px;
    background-color: #ffffff33;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    transition: 250ms;
    transform-style: preserve-3d;
    transform-origin: top left;
    overflow: hidden;
  }


  .bodyx .block-container .btn-front svg.frame {
    width: inherit;
    height: inherit;
  }
  .bodyx .block-container .btn-front svg.frame rect {
    width: inherit;
    height: inherit;
    fill: none;
    stroke-width: 4;
  }
  .bodyx .block-container .btn-front svg.icon {
    position: absolute;
    inset: 50% 0 0 50%;
    transform: translate(-50%, -50%);
  }
  .bodyx .block-container:hover > .btn-back {
    transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
  }
  .bodyx .block-container:hover > .btn-front {
    transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
  }
  
  @media (max-width: 600px) {
    .bodyx {
      flex-direction: column;
    }
  }


  /**/



body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1d061a
}

.picContainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.picContainer .picBox
{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.picContainer .picBox::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}

.picContainer .picBox::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.picContainer .picBox:hover:before,
.picContainer .picBox:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.picContainer .picBox:nth-child(1):before,
.picContainer .picBox:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.picContainer .picBox:nth-child(2):before,
.picContainer .picBox:nth-child(2):after
{
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.picContainer .picBox:nth-child(3):before,
.picContainer .picBox:nth-child(3):after
{
  background: linear-gradient(315deg, #4dff03, #00d0ff)
}

.picContainer .picBox span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.picContainer .picBox span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.picContainer .picBox:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.picContainer .picBox span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.picContainer .picBox:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.picContainer .picBox .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}

.picContainer .picBox:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.picContainer .picBox .content h2
{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.picContainer .picBox .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.picContainer .picBox .content a
{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}

.picContainer .picBox .content a:hover
{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

/*chido */
/*
 * Preparing stage
*/


.bodix {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

/*
 * Start
*/
.glassBox {
  width: 100%;
  height: 400px;
  max-width: 300px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.glassBox, .glassBox * {
  box-sizing: border-box;
  transition: 400ms;
}
.glassBox__imgBox img {
  display: block;
  width: 100%;
  height: auto;
}
.glassBox__title {
  text-align: center;
  margin-top: 15px;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato";
}
.glassBox__content {
  position: absolute;
  right: 15px;
  bottom: 15px;
  left: 15px;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-family: "Lato";
  letter-spacing: 0.1em;
  opacity: 0;
}
.glassBox:hover .glassBox__imgBox {
  transform: translateY(-50px);
}
.glassBox:hover .glassBox__imgBox img {
  transform: translate(-20px, -40px) rotate(-15deg) scale(1.4);
}